@charset "utf-8";

/* === リセット === */
a
{
  text-decoration: none;  
}

/* ====== 共通 ====== */

body
{
  background-color: #ffff80;
  color: #4c5a80;
  font-family: "メイリオ", sans-serif;
}

.fadeIn
{
  animation: fade 2s;
}

@keyframes fade
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

.container
{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

section
{
  margin-bottom: 100px;
}

.screen-reader-only
{
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.link-top
{
  position: fixed;
  right: 20px;
  bottom: 100px;
  padding-right: 35px;
  font-size: 40px;
  font-family: 'Concert One', cursive;
  transform: rotate(-90deg);
  line-height: 1;
  color: #4c5a80;
  border-bottom: solid 3px;
  transition: all 0.3s ease;
}

.link-top:hover
{
  opacity: 0.8;
}

.link-top::before 
{
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 15px;
  border-bottom: solid 3px;
  transform: rotate(30deg);
  transform-origin: right top;
}

@media (max-width: 768px)
{
  html, body
  {
    overflow-x: hidden;
  }
  
  html.open, .open body
  {
    height: 100%;
    overflow: hidden;
  }

  .container
  {
    width: 80%;
  }

  section
  {
    margin-bottom: 50px;
  }

  .link-top
  {
    right: 0;
    bottom: 70px;
    padding-right: 20px;
    font-size: 20px;
    border-bottom: solid 1px;
  }

  .link-top::before 
  {
    bottom: -1px;
    width: 10px;
    border-bottom: solid 1px;
  }
}

/* === ヘッダー === */
header .container
{
  display: flex;
  padding: 20px 0;
}

.header-logo
{
  color: #4c5a80;
  font-size: 36px;
  font-family: 'Concert One', cursive;
}

nav
{
  margin-left: auto;
}

.nav-list
{
  display: flex;
}

.nav-list-item:not(:last-of-type)
{
  margin-right: 30px;
}

.nav-list-item > a, .nav-list-item > p
{
  color: #4c5a80;
  font-size: 30px;
  font-family: 'Concert One', cursive;
}

.nav-list-item a::after
{
  display: block;
  width: 0;
  border-bottom: solid 2px #4c5a80;
  content: '';
  transition: all .3s ease;
}

.nav-list-item a:hover::after
{
  width: 100%;
}

.nav-product
{
  display: flex;
  position: relative;
  cursor: pointer;
}

.nav-product img
{
  width: 10px;
  margin-left: 5px;
  object-fit: contain;
}

.product-list
{
  display: none;
  position: absolute;
  top: 30px;
  width: 150px;
  min-height: 0;
  height: 0;
  padding: 20px 10px;
  background-color: rgba(76, 90, 128, 0.6);
}

.product-list.open
{
  display: block;
  min-height: 91px;
}

.product-list-item:not(:last-child)
{
  margin-bottom: 20px;
}

.product-list-item a
{
  font-size: 16px;
  color: #fff;
}

.product-list-item a::after
{
  display: block;
  width: 0;
  border-bottom: solid 1px #fff;
  content: '';
  transition: all .3s ease;
}

.product-list-item a:hover::after
{
  width: 100%;
}

.hamburger
{
  display: none;
}

@media (max-width: 768px)
{
  .header-logo
  {
    font-size: 20px;
  }

  nav
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(76, 90, 128, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1000;
  }
  
  .nav-list
  {
    flex-direction: column;
  }

  .nav-list-item
  {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .nav-list-item:not(:last-of-type)
  {
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .nav-list-item > a, .nav-list-item > p
  {
    color: #fff;
  }

  .nav-product
  {
    flex-direction: column;
  }

  .nav-product img
  {
    display: none;
  }

  .product-list
  {
    display: block;
    position: relative;
    top: 20px;
    min-height: 91px;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    background-color: transparent;
  }

  .hamburger
  {
    display: block;
    box-sizing: content-box;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-style: none;
    background: none;
    width: 20px;
    height: 14px;
    color: #4c5a80;
    z-index: 2000;
  }
  
  .hamburger::before, .hamburger::after
  {
    content: '';
    display: block;
    background: #4c5a80;
    height: 2px;
    transition: 0.3s ease;
  }
  
  .hamburger::before
  {
    transform: translateY(-6px);
    box-shadow: 0 7px;
  }

  .hamburger::after
  {
    transform: translateY(6px);
  }
  
  .open .hamburger::before
  {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
  }
  
  .open .hamburger::after
  {
    transform: translateY(-1px) rotate(-45deg);
  }
  
  .open nav
  {
    opacity: 1;
    z-index: 1000;
  }
}

/* === フッター === */
footer
{
  padding: 20px 0;
  background-color: #4c5a80;
  color: #ffff80;
  text-align: center;
}

footer p
{
  font-size: 16px;
}

@media (max-width: 768px)
{
  footer
  {
    padding: 10px 0;
  }

  footer p
  {
    font-size: 14px;
  }
}

/* ========= index.html ========= */

/* === メインビジュアル === */
.mv
{
  display: flex;
  flex-direction: row;
}

.mv-img
{
  width: 70%;
  height: 100%;
  object-fit: contain;
}

.mv-text
{
  margin: auto 0 auto 30px;
  font-size: 60px;
  font-family: 'Concert One', cursive;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

@media (max-width: 768px)
{
  .mv-img
  {
    width: 60%;
  }
  .mv-text
  {
    margin-left: 10px;
    font-size: 7vw;
  }
}

@media (min-width: 769px) and (max-width: 992px)
{
  .mv-text
  {
    margin-left: 15px;
    font-size: 50px;
  }
}

/* === セクション共通 === */

.top-section-content
{
  width: 70%;
  padding: 30px;
  background-color: #fff;
}

.top-section-content > *:not(:last-child)
{
  margin-bottom: 30px;
}

.top-section-title
{
  font-size: 48px;
  font-family: 'Concert One', cursive;
  letter-spacing: 0.05em;
}

.top-text
{
  font-size: 20px;
  line-height: 2.0;
}

.btn-wrapper
{
  text-align: right;
}

.top-btn
{
  display: inline-block;
  padding: 20px 30px;
  background-color: #4c5a80;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition: all .3s ease;
}

.top-btn:hover
{
  opacity: 0.8;
}

.icon-wrapper
{
  position: relative;
  width: 30%;
}

.top-icon
{
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@media (max-width: 768px)
{
  .top-section-content
  {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .top-section-content
  {
    margin-bottom: 15px;
  }

  .top-section-content > *:not(:last-child)
  {
    margin-bottom: 15px;
  }

  .top-section-title
  {
    font-size: 24px;
  }

  .top-text
  {
    font-size: 16px;
  }

  .top-btn
  {
    display: inline-block;
    padding: 15px 20px;
    background-color: #4c5a80;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
  }

  .icon-wrapper
  {
    display: flex;
    justify-content: space-around;
    position: static;
    width: 100%;
  }

  .top-icon
  {
    position: static;
    width: 15vw;
    height: 15vw;
  }
}

/* === About === */

.about .section-wrapper
{
  display: flex;
  flex-direction: row-reverse;
}

.about .top-section-content
{
  margin-left: auto;
}

.soccer
{
  top:10%;
  left: 5%;
}

.badminton
{
  top: 40%;
  right: 10%;
}

.guitar
{
  top: 70%;
  left: 5%;
}

@media (max-width: 768px)
{
  .about .section-wrapper
  {
    flex-direction: column;
  }
}

/* === Product === */

.product .section-wrapper
{
  display: flex;
  flex-direction: row;
}

.product-link
{
  display: block;
}

.product-link-parent
{
  position: relative;
  border: 1px solid #4c5a80;
}

.product-link-parent img
{
  width: 100%;
}

.product-link-hover
{
  display: flex;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 90, 128, 0.6);
  text-align: center;
  opacity: 0;
  transition:	all 0.3s ease;
}

.product-link-hover:hover
{
  opacity: 1;
}

.product-link-title
{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.network
{
  top: 5%;
  right: 5%;
}

.cursol
{
  top:25%;
  left: 10%;
}

.mouse
{
  top: 45%;
  right: 5%;
}

.mobile
{
  top: 65%;
  left: 10%;
}

.pc
{
  top: 85%;
  right: 5%;
}

@media (max-width: 768px)
{
  .product .section-wrapper
  {
    flex-direction: column;
  }

  .product-link-hover
  {
    opacity: 1;
  }

  .product-link-title
  {
    font-size: 16px;
  }
}

/* === Contact === */
.contact .section-wrapper
{
  display: flex;
  flex-direction: row-reverse;
}

.letter
{
  top: 25%;
  right: 15%;
}

.post
{
  top: 55%;
  left: 10%;
}

@media (max-width: 768px)
{
  .contact .section-wrapper
  {
    flex-direction: column;
  }
}